:root {
  --font-main: 'Inter', Arial, sans-serif;
  --font-accent: 'Press Start 2P', fantasy;
  --font-main-weight: 410;
  --font-title-weight: 715;
  --page-inline-padding: clamp(0px, calc(50vw - 349px), 372px);
  --content-width: clamp(371px, 48.34vw, 696px);
  --bg-color: #d7d7d7;
  --bg-gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --card-bg: #fff;
  --text-color: #000;
  --border-color: #000;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --button-bg: #fff;
}
